APP_NAME="守护桑榆后端服务"
APP_ENV="development"
APP_HOST="0.0.0.0"
APP_PORT="8000"
APP_DEBUG="true"
APP_API_PREFIX="/api/v1"
APP_ALLOWED_ORIGINS='["http://localhost:5666","http://localhost:4173","http://localhost:3000"]'
APP_JWT_SECRET="change-this-secret-at-least-32-chars"
APP_JWT_ALGORITHM="HS256"
APP_ACCESS_TOKEN_EXPIRE_MINUTES="120"
APP_LOG_LEVEL="INFO"
APP_DATABASE_URL="postgresql+psycopg://postgres:postgres@127.0.0.1:5432/guard_silver"
